[alias]
    br = branch
	st = status
	co = checkout
	cp = cherry-pick
    tree = log --oneline --decorate --all --graph
[color]
	ui = true
[credential]
	helper = osxkeychain
[user]
	name = Shaohsuan Cheng
	email = shaohsuan.cheng.tw@gmail.com
[core]
	autocrlf = input
	excludesfile = /Users/shaocheng/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
