[alias]
    br = branch
	st = status
	co = checkout
	cp = cherry-pick
    tree = log --oneline --decorate --all --graph
[color]
	ui = true
[credential]
	helper = osxkeychain
[user]
	name = mistasy
	email = jacob.shcheng@gmail.com
[core]
	autocrlf = input
